/*-----------------------------------*\
  #index.css
\*-----------------------------------*/

/**
 * copyright 2024 lewi zelalem and Arafat mohammed
 */

/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
    /**
* COLORS
*/

    --dark-mint: hsl(163, 88%, 50%);
    --quick-silver: hsla(0, 0%, 65%, 1);
    --davys-grey: hsla(30, 3%, 34%, 1);
    --smoky-black-1: hsla(40, 12%, 5%, 1);
    --smoky-black-2: hsla(30, 8%, 5%, 1);
    --smoky-black-3: hsla(0, 3%, 7%, 1);
    --eerie-black-1: hsla(210, 4%, 9%, 1);
    --eerie-black-2: hsla(210, 4%, 11%, 1);
    --eerie-black-3: hsla(180, 2%, 8%, 1);
    --eerie-black-4: hsla(0, 0%, 13%, 1);
    --white: hsla(0, 0%, 100%, 1);
    --white-alpha-20: hsla(0, 0%, 100%, 0.2);
    --white-alpha-10: hsla(0, 0%, 100%, 0.1);
    --black: hsla(0, 0%, 0%, 1);
    --black-alpha-80: hsla(0, 0%, 0%, 0.8);
    --black-alpha-15: hsla(0, 0%, 0%, 0.15);

    /**
  * GRADIENT COLOR
  */

    --loading-text-gradient: linear-gradient(90deg,
            transparent 0% 16.66%,
            var(--smoky-black-3) 33.33% 50%,
            transparent 66.66% 75%);
    --gradient-1: linear-gradient(to top,
            hsla(0, 0%, 0%, 0.9),
            hsla(0, 0%, 0%, 0.7),
            transparent);

    /**
  * TYPOGRAPHY
  */

    /* font-family */

    --fontFamily-forum: "Forum", cursive;
    --fontFamily-dm_sans: "DM Sans", sans-serif;

    /* font-size  */

    --fontSize-display-1: calc(1.3rem + 6.7vw);
    --fontSize-headline-1: calc(2rem + 2.5vw);
    --fontSize-headline-2: calc(1.3rem + 2.4vw);
    --fontSize-title-1: calc(1.6rem + 1.2vw);
    --fontSize-title-2: 2.2rem;
    --fontSize-title-3: 2.1rem;
    --fontSize-title-4: calc(1.6rem + 1.2vw);
    --fontSize-body-1: 2.4rem;
    --fontSize-body-2: 1.6rem;
    --fontSize-body-3: 1.8rem;
    --fontSize-body-4: 1.6rem;
    --fontSize-label-1: 1.4rem;
    --fontSize-label-2: 1.2rem;

    /* font-weight */

    --weight-regular: 400;
    --weight-bold: 700;

    /* line-height */

    --lineHeight-1: 1em;
    --lineHeight-2: 1.2em;
    --lineHeight-3: 1.5em;
    --lineHeight-4: 1.6em;
    --lineHeight-5: 1.85em;
    --lineHeight-6: 1.4em;

    /* letter-spacing */

    --letterSpacing-1: 0.15em;
    --letterSpacing-2: 0.4em;
    --letterSpacing-3: 0.2em;
    --letterSpacing-4: 0.3em;
    --letterSpacing-5: 3px;

    /**
  * SPACING 
  */
    --section-space: 70px;

    /**
  * BORDER RADUIS
  */
    --radius-24: 24px;
    --radius-circle: 50%;

    /**
  * TRANSITION
  */
    --transition-1: 250ms ease;
    --transition-2: 500ms ease;
    --transition-3: 1000ms ease;
}


* {
    margin: 0;
    padding: 0;
    font-family: poppins, 'poppin';
}

.container {
    display: grid;
    grid-template-columns: 25% 70%;
    column-gap: 5%;
}

.user {
    width: 100%;
    background-color: rgba(35, 36, 36, 0.5);
    margin-top: 120px;
    border-radius: 30px;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5);
}

.members {
    width: 100%;
    background-color: rgba(35, 36, 36, 0.5);
    margin-top: 120px;
    margin-left: 5%;
    border-radius: 20px;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5);
    height: 200px;
}

/*
-account
*/
.members .user-detail .fa-user-tie {
    color: white;
    font-size: 70px;
    width: 100%;
    text-align: center;
    margin-top: 15px;
    justify-content: center;
}

.members .user-detail h1 {
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin-top: 5px;
}

.members .user-detail h3 {
    font-size: 25px;
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-top: 2px;
    font-weight: 100;
    display: inline-block;
}

.members h3 .fa-eye {
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
}

.members .user-detail h4 {
    font-size: 15px;
    width: 100%;
    text-align: center;
    margin-top: 2px;
    font-weight: 100;
}

.members .user-detail span {
    background-color: white;
    color: white;
    height: 10px;
    margin-top: 10px;
}

/*
-members
*/
.hack-members .fa-user-tie {
    color: var(--dark-mint);
    font-size: 30px;
    width: 100%;
    text-align: start;
    margin-top: 30px;
    margin-left: 15px;
    justify-content: center;
}

.hack-members h1 {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
    color: var(--dark-mint);
}

.member {
    display: grid;
    grid-template-rows: 15% 70%;
}

.hack-members h3 {
    width: 100%;
    text-align: start;
    margin-left: 80px;
    margin-top: 15px;
}

/*
-welcome and security code
*/
.user .databse-info .Welcome-message {
    width: 100%;
    text-align: center;
    margin-top: 25px;
}

.userName {
    color: var(--dark-mint);
    margin-top: 10px;
}

.user .databse-info .Security-key {
    width: 100%;
    text-align: center;
    margin-top: 25px;
    font-size: 25px;
}

.user .fa-eye {
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
}

.databse-info .code {
    margin-top: 20px;
}

.fa-eye-slash {
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
}

.Security-key span {
    display: inline-block;
}

/*
-register and desc
*/
.btn {
    position: relative;
    color: var(--dark-mint);
    font-size: var(--fontSize-label-2);
    font-weight: var(--weight-bold);
    text-transform: uppercase;
    letter-spacing: var(--letterSpacing-5);
    max-width: max-content;
    border: 2px solid var(--dark-mint);
    padding: 12px 45px;
    overflow: hidden;
    z-index: 1;
    text-decoration: none;
    /* Removes underline from link */
    margin-left: 38%;
    margin-top: 10px;
}

.btn::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 200%;
    height: 200%;
    border-radius: var(--radius-circle);
    background-color: var(--dark-mint);
    transition: var(--transition-2);
    z-index: -1;
}

.btn .text {
    transition: var(--transition-1);
}

.btn .text-2 {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    min-width: max-content;
    color: var(--smoky-black-1);
}

.btn:is(:hover, :focus-visible)::before {
    bottom: -50%;
}

.btn:is(:hover, :focus-visible) .text {
    transform: translateY(-50px);
}

.btn:is(:hover, :focus-visible) .text-2 {
    top: 50%;
    transform: translate(-50%, -50%);
}

.register-container h3 {
    width: 100%;
    text-align: center;
    color: var(--dark-mint);
    margin-top: 30px;
}

/*
-teams
*/
.team {
    display: none;
    grid-template-columns: 28% 28% 28%;
    column-gap: 5%;
    margin-top: 10px;
}

.developer-team {
    width: 100%;
    height: 250px;
    background-color: rgba(56, 56, 56, 0.5);
    margin-left: 20px;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.329);
    margin-top: 100px;
    cursor: pointer;
    border-radius: 8px;
    transition: scale 800ms ease-in-out, box-shadow 800ms ease-in-out;
}

.innovation-and-research-team {
    width: 100%;
    height: 250px;
    background-color: rgba(56, 56, 56, 0.5);
    margin-left: 10px;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.329);
    margin-top: 100px;
    cursor: pointer;
    border-radius: 8px;
    transition: scale 800ms ease-in-out, box-shadow 800ms ease-in-out;
}

.promotion-and-marketing-team {
    width: 100%;
    height: 250px;
    background-color: rgba(56, 56, 56, 0.5);
    margin-left: 10px;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.329);
    margin-top: 100px;
    cursor: pointer;
    border-radius: 8px;
    transition: scale 800ms ease-in-out, box-shadow 800ms ease-in-out;
}

.developer-team:hover,
.innovation-and-research-team:hover,
.promotion-and-marketing-team:hover {
    scale: 1.1;
    box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.329);
}

.developer-team h3 {
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

.innovation-and-research-team h3 {
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

.promotion-and-marketing-team h3 {
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

.developer-team p {
    padding: 5px;
    text-align: justify;
    hyphens: auto;
    font-size: 15px;
    color: rgb(241, 241, 241);
    margin-top: 45px;
}

.innovation-and-research-team p {
    padding: 5px;
    text-align: justify;
    hyphens: auto;
    font-size: 15px;
    color: rgb(241, 241, 241);
    margin-top: 15px;
}

.promotion-and-marketing-team p {
    padding: 5px;
    text-align: start;
    hyphens: auto;
    font-size: 15px;
    color: rgb(241, 241, 241);
    margin-top: 15px;
}

.hack-members h1 .memebers-count {
    display: inline-block;
}

/*  
choose team
*/
.choose-team h1 {
    width: 60%;
    margin-top: 30px;
    color: var(--dark-mint);
    display: none;
}


.choose-team #options {
    text-align: center;
    margin-top: 30px;
    width: 50%;
    justify-content: center;
    color: white;
    font-weight: bold;
    padding: 15px;
    border-style: dashed;
    border-color: var(--dark-mint);
    border-width: 1px;
    background-color: rgba(35, 36, 36, 0.5);
    margin-left: 5%;
    display: none;
}

.choose-team #options option {
    background-color: #0088cc;
}

.submit-btn {
    margin-top: 20px;
    margin-left: 5%;
    padding: 10px;
    background-color: var(--dark-mint);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 15%;
    display: none;
    font-weight: bold;
}

.team-database {
    color: var(--dark-mint);
    display: inline-block;
    margin-top: 20px;
}

.join-us {
    margin-top: 20px;
    margin-left: 5%;
    padding: 10px;
    background-color: #0088cc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 15%;
    display: inline-block;
    margin-bottom: 20px;
}

.join-us:hover {
    background-color: #0056b3;
}

.team-choosed {
    display: none;
}

.team-choosed h2 {
    margin-left: 5%;
}

@media (max-width: 1138px) {
    .container {
        grid-template-columns: 1fr;
        column-gap: 0;
    }

    .user,
    .members {
        margin-top: 150px;
    }

    .user {
        height: 700px;
    }
}

@media (max-width: 803px) {
    .team {
        display: flex;
        flex-direction: column;
        gap: 0px;
        /* Add some spacing between cards */
        align-items: center;
        /* Center the cards */
    }

    .developer-team,
    .innovation-and-research-team,
    .promotion-and-marketing-team {
        width: 90%;
        /* Adjust width to fit within the smaller screen */
        margin-left: 0;
        height: 150px;
        /* Remove margins to prevent overflow */
    }

    .developer-team h3,
    .innovation-and-research-team h3,
    .promotion-and-marketing-team h3 {
        font-size: 1.2rem;
        /* Adjust font size to prevent overflow */
    }

    .developer-team p,
    .innovation-and-research-team p,
    .promotion-and-marketing-team p {
        font-size: 1rem;
        /* Adjust paragraph font size to improve readability */
    }

    .user {
        height: 1100px;
    }
}